.exam-write {

    button {
        margin-top: 3%;
        font-size: 1.3em;
        padding: .4em;
    }
}

.answer-block {
    margin: 0 20%;
}

.q-answer {
    cursor: pointer;
    font-size: 1.3rem;
}